@font-face {
    font-family: font-med;
    src: url("https://www.etsy.com/assets/type/Graphik-Medium-Web.woff2?v=220104") format('woff');
  }
  @font-face {
    font-family: font-reg;
    src: url("https://www.etsy.com/assets/type/Graphik-Regular-Web.woff2?v=220104") format('woff');
  }
  @font-face {
    font-family: font-light;
    src: url("https://www.etsy.com/assets/type/Guardian-EgypTT-Light.woff2?v=220104") format('woff');
  }