.mobile_nav {
  display: flex;
  overflow: scroll;
}
.mobile_nav::-webkit-scrollbar {
    display: none;
  }
.mobile_nav ul {
  display: flex;
}
.mobile_nav ul li {
  list-style: none;
}
.mobile_nav ul li .nav_img_container {
  width: 68.75px;
  height: 65.0338px;
}
.mobile_nav ul li .nav_img_container img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 972px) {
  .mobile_nav {
    display: none;
  }
}
