@font-face {
  font-family: roboto;
  src: url(https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/fonts/roboto-regular.woff2);
  font-weight: 200;
}
@font-face {
  font-family: roboto;
  src: url(https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/fonts/roboto-medium.woff2);
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
.header_container_mobile_view {
  background-color: #2874f0;
  height: 104px;
}
.header_logo_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  width: 100%;
}
.header_hamburger_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_logo {
  width: 85px;
  height: 30px;
}
.header_logo img {
  width: 100%;
  height: 100%;
}
.header_icons_login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_icons_login p {
  font-weight: 200;
  color: #eaeaea;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-1px);
}
.hamburger,
.flipkart_install_icon,
.add_to_basket_icon {
  width: 42px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_logo {
  transform: translateY(1px);
}
.flipkart_install_icon img {
  height: 16px;
  width: 15px;
}
.search_bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-inline: 2%;
  height: 38px;
  width: 100%;
  border-radius: 2px;
}
.header_searchbar {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_icon {
  width: 14px;
  height: 14px;
  margin: 8px 10px 10px 10px;
}
.search_icon img {
  width: 14px;
  height: 100%;
}
.search_bar_input {
  width: 100%;
  height: 100%;
}
.search_bar_input input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0;
  color: rgba(135, 135, 135, 1);
}
.header_container_desktop_view {
  display: none;
}

@media screen and (min-width: 855px) {
  .header_container_mobile_view {
    display: none;
  }
  .header_container_desktop_view {
    background-color: #2874f0;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 100;
  }
  .header_desktop_container {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  .header_space_div {
    min-width: 124px;
    height: 56px;
  }
  .header_icons {
    max-width: 1248px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .logo_flipkart {
    width: 137px;
    min-width: 137px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .logo_flipkart img {
    width: 75px;
    height: 22.5px;
    padding-bottom: 2px;
  }
  .logo_plus img {
    width: 10px;
    height: 10px;
    transform: translate(-1px, -1px);
  }
  .logo_plus a {
    font-size: 11px;
    color: #f0f0f0;
    text-decoration: none;
    font-style: italic;
    font-family: Arial, sans-serif;
    font-weight: 200;
  }
  .logo_plus {
    display: flex;
    margin-right: 2px;
    transform: translateY(-1px);
  }
  .logo_plus .plus {
    color: #ffe500;
    margin-right: 3px;
    margin-left: 2.5px;
  }
  .search_bar_desktop {
    margin-left: 12px;
    background-color: #ffff;
    height: 36px;
    display: flex;
    align-items: center;
    border: 1px;
    min-width: 304px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    width: 100%;
    max-width: 564px;
    margin-right: auto;
  }
  .search_bar_desktop input {
    height: 34px;
    border: none;
    width: 100%;
    padding-left: 16px;
    font-weight: 200;
    font-size: 14px;
  }
  .search_bar_desktop button {
    border: none;
    background-color: #ffff;
    margin: 5px 13px 0 0;
  }
  .login_btn {
    margin: 0 20px;
    background-color: #ffff;
    font-size: 15.7px;
    letter-spacing: 0.04ch;
    font-weight: 600;
    color: #2874f0;
    font-weight: 600;
    padding: 5px 41px 5px 41px;
    line-height: 21px;
  }
  .seller_btn {
    margin: 0 19px 0 20px;
    white-space: nowrap;
    color: #ffff;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 15.87px;
  }
  .more_btn {
    display: flex;
    align-items: center;
    color: #ffff;
    margin: 0 21px;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-size: 15.87px;
  }
  .more_btn .drop_down {
    height: 24px;
    font-weight: 100;
    margin-left: 6px;
    margin-top: 6px;
    transform: rotate(270deg);
  }
  .cart_btn {
    display: flex;
    color: #ffff;
    font-weight: 600;
    margin-left: 15px;
    margin-right: 20px;
  }
  .cart_btn img {
    margin: 2px 8px 0 8px;
    width: 16px;
    height: 16px;
  }
  .more_btn:hover .drop_down {
    transform: rotate(90deg);
  }
  .more_info_list .info {
    border-bottom: 1px solid #f0f0f0;
  }
  .more_indicator:after {
    content: " ";
    left: 0;
    border-bottom-color: #fff;
    border-width: 8px;
    transform: translateX(-8px);
    bottom: -10px;
  }
  .more_info .list {
    position: absolute;
    top: 56px;
    right: 13vw;
    z-index: 10;
  }
  .more_info_list {
    display: none;
    background-color: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0 0 0 /30%);
  }
  .more_info:hover .more_info_list {
    display: block;
  }
  .more_info_list .info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 16px 12px;
    width: 240px;
    height: 50px;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    font-weight: 200;
    color: #212121;
  }
}
