.scroll-container{
  height: 65.0338px;
  display: flex; 
  align-items: stretch;
  overflow-x:scroll ;
  padding-right: 22px;
}

.categories{
  display: flex;
  border-radius: 2px;
}

.cImg{
  object-fit: contain;
}

.scroll-container::-webkit-scrollbar{
  display: none;
}

@media screen and (min-width:768px){
  .cImg{
    width: 150px;
    height: 150px;
  }

  .scroll-container{
    height: 100%;
  }
}
