.summer-container{
  display: flex;
  align-items: stretch;
  border-top: 1px solid rgb(234, 234, 234);
  height: 100%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
  padding: 0px 0px 10px;
  max-width: 1680px;
  margin: 0 auto;
  margin-top: 10px;
}

.shop-summer{
  height: 352px;  
}

.summer-section{
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 28px 10px 124px;
  
}

.text-heading{
  text-align: center;
  font-family: Roboto,Arial,sans-serif;
  overflow-wrap: break-word;
  font-size: 30px;
  line-height: 1.38;
  font-weight: 400;
}

.view-container{
  margin-top: 24px;
  text-align: center;
  background: #fff;
}

.view-all{
  background: #2874f0;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border: none;
  display: inline-block;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
}

.summer-equipments{
  display: flex;
  padding-bottom: 64px;
  margin-bottom: -64px;
  width: 1866px;
  overflow: hidden;
  position: relative;
}

.summer-items{
  display: flex;
  transition: ease-in-out;
  scroll-behavior: smooth;
}

.summer-items::-webkit-scrollbar{
  display: none;
}

.summer-items-list{
  display: flex;
  flex-direction: column;
  width: 232px;
  padding: 25px 15px;
  display: inline-block;
  text-align: center;
  max-height: 366px;
}

.summer-image{
  height: 200px;
  width: 200px;
}

.summer-image img{
  max-width: 100%;
  margin: auto;
}

.summer-title{
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.summer-price{
  font-size: 16px;
  white-space: nowrap;
  color: #388e3c;
  padding-top: 8px;
}

.left-btn-box{
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  top: 0;
}

.left-btn-img{
  border-radius: 0 4px 4px 0;
  display: flex;
  align-self: center;
  padding: 40px 15px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  background-color: hsla(0, 0%, 100%, .98);
  cursor: pointer;
}

.left-btn-img img{
  width: 14.6px;
  height: 24px;
}

.right-btn-box{
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  top: 0;
}

.right-btn-img{
  border-radius: 4px 0 0 4px;
  display: flex;
  align-self: center;
  padding: 40px 15px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  background-color: hsla(0, 0%, 100%, .98);
}

.right-btn-img img{
  transform: rotate(180deg);
  width: 14.6px;
  height: 24px;
}